.product{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.item-plus{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid black;
}
.item-plus input{
    width: 350px;
    margin: 10px;
    padding: 3px;
}
.item-plus select{
    width: 300px;
    margin: 10px;
    padding: 10px;
}
.item-plus button{
    border: 0;
    padding: 5px;
    width: 300px;
    color: white;
    background-color: brown;
}